{% extends 'base.html'%}

{% block content%}


{% for project in all_projects%}
<div class="container">
    <div class="row">
        <div class="">
        <div class="img-fluid img-thumbnail" data-toggle="modal" data-target="#{{image.id}}" style="width:300px; height: 300px;">
            <a href="{% url 'singleproject' project.id%}"><img src="{{project.project_image.url}}" alt="" style="height: 250px;"></a>
        <h4 class="text-center"> <b>{{project.title}}</b></h4>
        <p>{{project.project_description}}</p>
        <a href="{{project.link}}" target="_blank">{{project.link}}</a>
        <!-- <p>{{image.desc}}</p> -->
    </div>
    </div>

{% endfor %}
</div>
</div>
{%endblock%}
