<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'logoutpage'%}" tabindex="-1" aria-disabled="true">Logout</a>
    </li>
    {% endif %}


    <form class="d-flex" action="{% url 'search_results' %}">
      <input class="form-control me-2" type="search" placeholder="Search Project" aria-label="Search" name="projectname" >
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </ul>